{% extends "base.html" %}

{% block content %}
<style>
    html,
    body {
        height: 100%;
        overflow: hidden;
    }

    .cen-text {
        color: white;
        font-size: 1.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .typing-animation {
        border-right: 2px solid;
        white-space: nowrap;
        overflow: hidden;
        width: 0;
        animation: blink-caret 0.75s step-end infinite;
        font-size: 3rem;
        color: white;
        text-align: center;
        margin: 20px auto;
    }

    .typing-animation1 {
        animation: typing1 2s steps(30, end) forwards,
            blink-caret 0.75s step-end infinite;
    }

    .typing-animation2 {
        animation: typing2 3s steps(30, end) forwards 2s,
            blink-caret 0.75s step-end infinite;
    }

    @keyframes typing1 {
        from {
            width: 0;
        }

        to {
            width: 12ch;
        }
    }

    @keyframes typing2 {
        from {
            width: 0;
        }

        to {
            width: 26ch;
        }
    }

    @keyframes blink-caret {

        from,
        to {
            border-color: transparent;
        }

        50% {
            border-color: white;
        }
    }

    .glass-button {
        display: inline-block;
        padding: 10px 20px;
        border: 0.5px solid rgba(255, 105, 180, 0.7);
        backdrop-filter: blur(10px);
        border-radius: 10px;
        color: white;
        text-decoration: none;
        transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
        margin: 0 20px;
        background-color: rgba(255, 255, 255, 0.1);
        box-shadow: 0 4px 10px rgba(255, 105, 180, 0.5);
        min-width: 150px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .glass-button:hover {
        background-color: rgba(255, 255, 255, 0.3);
        transform: scale(1.05);
        box-shadow: 0 2px 10px rgba(255, 105, 180, 0.7);
    }

    .content {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        text-align: center;
    }
</style>

<div class="container-fluid content">
    <h1 class="typing-animation typing-animation1">Hello, Learner.</h1>
    <h1 class="typing-animation typing-animation2">Welcome to myQuota Website.</h1>

    <div class="cen-text">
        <a href="{% url 'login' %}" class="glass-button">Login</a>
        <a href="{% url 'register' %}" class="glass-button">Register</a>
    </div>
</div>
{% endblock %}