{% extends "base.html" %}

{% block navBar %}
    {% include "NavBar.html" %}
{% endblock %}

{% block content %}
<style>

    .scrollable-list {
        max-height: 30vh;
        overflow-y: auto;
    }

    .scrollable-list2 {
        max-height: 20vh;
        overflow-y: auto;
    }

    .glass {
        border: 1px solid transparent;
        backdrop-filter: blur(1rem);
        box-shadow: 1.3rem 1.3rem 1.3rem rgba(254, 223, 223, 0.05);
        border-top-color: rgba(255, 255, 255, 0.5);
        border-left-color: rgba(255, 255, 255, 0.5);
        border-right-color: rgba(255, 255, 255, 0.1);
        border-bottom-color: rgba(255, 255, 255, 0.1);

        background-color: rgba(0, 0, 0, 0.05);
    }

    .form-control,
    .form-select {
        background-color: #111;
        color: #ccc;
        border: 1px solid #333;
    }

    .form-control::placeholder {
        color: #ccc;
    }

    .form-control:focus {
        background-color: #111;
        color: #bbcccb;
    }

    .form-select option {
        background-color: #111;
        color: #ccc;
    }

    .custom-box h5,
    .custom-box p {
        color: #ccc;
    }

    .list-group-item {
        background-color: #111;
        color: #aaa;
        border: none;
        transition: background-color 0.12s ease;
    }

    .custom-box1{
        width: 80vw;
    }

    .custom-box2{
        height: 30vh;
        width: 39.5vw;
    }
</style>

<div class="container-fluid d-flex flex-column justify-content-center align-items-center mb-2">
    <div class="custom-box1 glass rounded p-3 text-center h-50 text-white row m-2">
        <h3 class="col-md-3">myQuota </h3>
        <div class="col-md-9">
            <input type="text" id="search" class="form-control" placeholder="ค้นหารายวิชา..."
                onkeyup="filterSubjects()">
        </div>
     <!-- วิชาที่ลงสำเร็จ -->
        <div class="container text-center">
            <div class="row scrollable-list">
                <!-- Force next columns to break to new line at md breakpoint and up -->
                <div class="w-100 d-none d-md-block"></div>
                    {% for subject in subjects %}
                        <div class="col-6 col-sm-3  text-uppercase" data-status="{{ subject.status }}">
                            {{ subject.code }} | {{ subject.sub_name }}
                        </div>
                    {% empty %}
                        <div class="list-group-item">No subjects found</div>
                    {% endfor %}
                <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
                <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
                <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
                <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
                <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
                <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
                <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
                <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
                <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
                <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
                <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
                <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
                <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
                <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
                <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
                <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
                <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
                <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
                <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
                <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
                <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
                <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
                <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
                <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
                <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
                <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
                <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
                <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
                <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
                <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
                <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
                <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
                <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
                <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
                <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
                <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
                <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
                <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
                <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
                <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
            </div>
        </div>

    </div>
    <div class="container-fluid justify-content-center row ">
        <div class="custom-box2 glass rounded m-2 p-3 text-center text-white row col-md-6">
            <div class="col-md-4">waitList </div>
        <!-- วิชาที่รอผลการลง -->
        <div class="container text-center">
            <div class="row scrollable-list2">
                <!-- Force next columns to break to new line at md breakpoint and up -->
                <div class="w-100 d-none d-md-block"></div>
                    {% for subject in subjects %}
                        <div class="col-6 col-sm-6  text-uppercase" data-status="{{ subject.status }}">
                            {{ subject.code }} | {{ subject.sub_name }}
                        </div>
                    {% empty %}
                        <div class="list-group-item">No subjects found</div>
                    {% endfor %}
                    <div class="col-6 col-sm-6">.col-6 .col-sm-4</div>
                    <div class="col-6 col-sm-6">.col-6 .col-sm-4</div>
                    <div class="col-6 col-sm-6">.col-6 .col-sm-4</div>
                    <div class="col-6 col-sm-6">.col-6 .col-sm-4</div>
                    <div class="col-6 col-sm-6">.col-6 .col-sm-4</div>
                    <div class="col-6 col-sm-6">.col-6 .col-sm-4</div>
                    <div class="col-6 col-sm-6">.col-6 .col-sm-4</div>
                    <div class="col-6 col-sm-6">.col-6 .col-sm-4</div>
                    <div class="col-6 col-sm-6">.col-6 .col-sm-4</div>
                    <div class="col-6 col-sm-6">.col-6 .col-sm-4</div>
                    <div class="col-6 col-sm-6">.col-6 .col-sm-4</div>
                    <div class="col-6 col-sm-6">.col-6 .col-sm-4</div>
                    <div class="col-6 col-sm-6">.col-6 .col-sm-4</div>
                    <div class="col-6 col-sm-6">.col-6 .col-sm-4</div>
                    <div class="col-6 col-sm-6">.col-6 .col-sm-4</div>
                    <div class="col-6 col-sm-6">.col-6 .col-sm-4</div>
                    <div class="col-6 col-sm-6">.col-6 .col-sm-4</div>
                    <div class="col-6 col-sm-6">.col-6 .col-sm-4</div>
                    <div class="col-6 col-sm-6">.col-6 .col-sm-4</div>
                    <div class="col-6 col-sm-6">.col-6 .col-sm-4</div>
                    <div class="col-6 col-sm-6">.col-6 .col-sm-4</div>
                </div>
            </div>
        </div>
        
        <div class="custom-box2 glass rounded m-2 p-3 text-center text-white row col-md-6">
            <div class="col-md-4">Result</div>
        <!-- ผลการลง -->
        <div class="container text-center">
            <div class="row scrollable-list2">
                <!-- Force next columns to break to new line at md breakpoint and up -->
                <div class="w-100 d-none d-md-block"></div>
                    {% for subject in subjects %}
                        <div class="col-6 col-sm-6  text-uppercase" data-status="{{ subject.status }}">
                            {{ subject.code }} | {{ subject.sub_name }}
                        </div>
                    {% empty %}
                        <div class="list-group-item">No subjects found</div>
                    {% endfor %}
                    <div class="col-6 col-sm-6">.col-6 .col-sm-4</div>
                    <div class="col-6 col-sm-6">.col-6 .col-sm-4</div>
                    <div class="col-6 col-sm-6">.col-6 .col-sm-4</div>
                    <div class="col-6 col-sm-6">.col-6 .col-sm-4</div>
                    <div class="col-6 col-sm-6">.col-6 .col-sm-4</div>
                    <div class="col-6 col-sm-6">.col-6 .col-sm-4</div>
                    <div class="col-6 col-sm-6">.col-6 .col-sm-4</div>
                    <div class="col-6 col-sm-6">.col-6 .col-sm-4</div>
                    <div class="col-6 col-sm-6">.col-6 .col-sm-4</div>
                    <div class="col-6 col-sm-6">.col-6 .col-sm-4</div>
                    <div class="col-6 col-sm-6">.col-6 .col-sm-4</div>
                    <div class="col-6 col-sm-6">.col-6 .col-sm-4</div>
                    <div class="col-6 col-sm-6">.col-6 .col-sm-4</div>
                    <div class="col-6 col-sm-6">.col-6 .col-sm-4</div>
                    <div class="col-6 col-sm-6">.col-6 .col-sm-4</div>
                    <div class="col-6 col-sm-6">.col-6 .col-sm-4</div>
                    <div class="col-6 col-sm-6">.col-6 .col-sm-4</div>
                    <div class="col-6 col-sm-6">.col-6 .col-sm-4</div>
                    <div class="col-6 col-sm-6">.col-6 .col-sm-4</div>
                    <div class="col-6 col-sm-6">.col-6 .col-sm-4</div>
                    <div class="col-6 col-sm-6">.col-6 .col-sm-4</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}